.grid-cell {
  fill: white;
  stroke: black;
  stroke-width: 2;
  transition: fill 150ms ease-in-out;
}

.grid-cell-valid:hover {
  cursor: pointer;
  fill: rgb(50, 205, 50);
}

.grid-cell-filled {
  fill: rgb(50, 205, 50);
}

.grid-cell-invalid:hover {
  fill: red;
}
