.photos {
    display: block;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

.photo {
    cursor: pointer;
}

.photo > img {
    margin: 20px;
    width: 30%;
    height: auto;
}

@media only screen and (max-width: 600px){
    .photos {
        text-align: center;
    }

    .photo > img {
        width: 90%;
        height: auto;
    }
}