.editor {
    height: 100vh;
    display: flex;
    position: relative;
}

.editor textarea, 
.editor article {
    padding: 10px 20px;
}

.editor textarea {
    border: none;
    resize: none;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
    background-color: rgb(224, 224, 224);
    border-right: 2px dashed rgb(0,0,0);
    width: 24%;
}

.editor article {
    background-color: white;
    display: inline-block;
    overflow: scroll;
    width: 75%;
}

.editor article h1 {
    font-size: 3.7rem;
    margin: 20px 10px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, rgb(38, 0, 255), rgb(122, 50, 255));
    border-image-slice: 1;
}

.editor article h2 {
    font-size: 2.7rem;
    margin: 15px 10px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(38, 0, 255), rgb(122, 50, 255));
    border-image-slice: 1;
}

.editor article h3, h4, h5, h6 {
    margin: 10px 10px;
}

.editor article h3 {
    font-size: 2.2rem;
}

.editor article h4 {
    font-size: 2rem;
}

.editor article h5, h6 {
    font-size: 1.7rem;
}

.editor article p {
    font-size: 1.05rem;
    margin: 10px;
}

.editor article p em {
    font-style: italic;
}

.editor article p strong {
    font-weight: bolder;
}

.preview textarea {
    display: none;
}

.preview article {
    width: 100%;
}

.editor-controls {
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 600px){
    .editor {
        margin-top: 10px;
    }

    .editor textarea, 
    .editor article {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .editor textarea {
        font-size: 1.2em;
        border: none;
    }
}