.blog {
  display: flex;
  flex-direction: column;

  .posts,
  .drafts {
    list-style-type: none;
  }

  .posts > li,
  .drafts > li {
    background: white;
    margin: 10px 0px;
  }

  .posts > li,
  .drafts > li {
    padding: 5px 10px;
  }

  .posts > li > a,
  .drafts > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .addPost {
    display: inline-block;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 600;
    background: linear-gradient(
      25deg,
      rgb(0, 174, 255),
      rgb(50, 255, 170),
      rgb(0, 174, 275)
    );
    background-size: 800% 200%;
    animation: underanimate 69s infinite;
    margin: 0px 0px;
    border-radius: 0px;
    border: 1px solid black;
    transition: all ease-in 200ms;
  }

  .addPost:hover {
    color: white;
    border: 1px solid white;
  }

  li.post,
  li.draft {
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  li.post:hover,
  li.draft:hover {
    background-color: rgba(235, 235, 235, 0.6);
  }

  li.post h3,
  li.draft h3 {
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px 0px;
  }

  li.post h3 {
    border-bottom: 1px solid blue;
  }

  li.draft h3 {
    border-bottom: 1px dashed red;
  }

  li.post h4,
  li.draft h4 {
    font-size: 1.7em;
    font-weight: 200;
    display: block;
  }

  li.post p {
    display: inline-block;
    padding: 5px 0px 0px 0px;
  }

  .draftButton {
    margin: 20px;
  }

  @media only screen and (min-width: 300px) {
    width: 100%;
    padding: 0px 10px
  }

  @media only screen and (min-width: 800px) {
    width: 80%;
  }

  @media only screen and (min-width: 1000px) {
    width: 60%;
  }

  @media only screen and (min-width: 1500px) {
    width: 50%;
  }
}
