.notebook {
  display: flex;
  height: 100%;

  textarea {
    flex: 1;
    border: none;
    resize: none;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
    background-color: rgb(252, 247, 231);
    border-left: 2px dashed rgba(0, 0, 0, 0);
    border-right: 2px dashed rgb(0, 0, 0);
    transition: all 0.2s ease-out;

    &:focus {
      border-left: 2px dashed rgb(0, 144, 228);
      border-right: 2px dashed rgb(0, 144, 228);
    }
  }

  .preview {
    flex: 1.5;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
