.course {
  width: 100%;
  display: flex;

  &_controls {
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    header {
      border: none;
      h2 {
        margin-bottom: 16px;
        transition: all 200ms ease;
        &:focus {
          outline: none;
          border-left: 3px solid red;
          padding-left: 4px;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      transition: all 200ms ease;
      &:focus {
        outline: none;
        border-left: 3px solid red;
        padding-left: 4px;
      }
      line-height: 1.5rem;
    }

    img {
      width: 85%;
      border: 1px solid black;
      margin: 0px auto;
    }
  }

  &_lessons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    h4 {
      margin-bottom: 24px;
    }
    ul {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        transition: all 200ms ease;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 8px;

        cursor: pointer;
        &:hover {
          background-color: rgba($color: #4ebeff, $alpha: 0.3);
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        p {
          font-size: 1.2rem;
          margin-left: 8px;
        }
      }
    }
  }
}
