.draft {
  width: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;

    @media screen and (max-width: 550px) {
      flex-direction: column;
      align-items: center;
    }

    .controls {
      display: flex;
      justify-content: flex-start;
      padding: 10px;

      button {
        margin-right: 8px;
      }
    }

    .savedMessage {
      display: flex;
      align-items: end;
      p {
        font-size: 0.9em;
        font-style: italic;
        margin: 10px;
      }
    }
  }

  .assets {
    transition: all 300ms ease-out;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    &_hidden {
      height: 0;
      border: 1px solid rgba(0, 0, 0, 0);
    }
    &_show {
      height: 130px;
      background-color: rgb(231, 255, 247);
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    &_preview {
      cursor: pointer;
      position: relative;
      margin: 10px;
      height: 100px;
      img {
        height: 100px;
      }
    }
    &_delete {
      position: absolute;
      top: 0;
      right: 0;
      color: rgba(255, 0, 0, 0.6);
    }
  }
}
