.codeEditor {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.textEditor, .mdxView {
    flex: 1;
}

.textEditor {
    position: relative;
    border-right: 2px dashed darkblue;
    margin-right: 10px;
    z-index: 1;
}

.textEditor > button {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
}