.medias {
  width: 100%;
  .media {
    width: 30%;
    margin: 10px auto;
    position: relative;

    img {
      border: 1px solid black;
    }

    .video {
      border: 1px solid black;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .medias {
    text-align: center;

    .media {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .medias {
    text-align: center;

    .media {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .medias {
    margin: 0;
    .media:first-child {
      margin-top: 0px;
    }

    .media {
      margin: 10px auto;
      width: 100%;

      img {
        border: none;
      }

      .video {
        border: none;
      }
    }
  }
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
