.article {
  font-size: 0.95rem;
  line-height: 1.15rem;
  width: 50%;
  margin: 0 auto !important;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 48px;

  h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  h1:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    background: linear-gradient(270deg, #1100ff, #f700ff, #1100ff);
    background-size: 400% 400%;
    animation: underanimate 45s infinite;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  h5,
  h6 {
    font-size: 1.1rem;
  }

  p {
    margin: 15px 0px;
    line-height: 1.15rem;
    text-align: justify;

    em {
      font-style: italic;
    }

    strong {
      font-weight: bolder;
    }

    img {
      display: block;
      width: 90%;
      border: 1px solid black;
      margin: 32px auto;
    }

    img + em {
      display: block;
      margin-top: 10px;
      text-align: center;
    }
  }
  
  ul {
    padding: 0px 10px 0px 10px;

    li:before {
      content: "";
      margin-left: -0.25rem;
    }
    li {
      padding: 1px 0px 1px 0px;
    }
  }

  .codeBlock {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.8rem;
    line-height: 1.15rem;
    overflow: auto;
    word-wrap: normal;
  }

  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85rem;
    background-color: rgba(117, 117, 117, 0.1);
    padding: 1px 4px;
    border-radius: 6px;
  }

  code[data-language] {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85rem;
    background-color: rgba(117, 117, 117, 0.1);
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
  }
}

@media only screen and (max-width: 1200px) {
  .article {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .article {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .article {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .article {
    width: 96%;
    img {
      width: 98%;
    }
  }
}
