.article {
  line-height: 1.35rem;
  width: 50%;
  margin: 0 auto !important;
  box-sizing: border-box;

  h1 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  h1:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    background: linear-gradient(270deg, #1100ff, #f700ff, #1100ff);
    background-size: 400% 400%;
    animation: underanimate 45s infinite;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h5,
  h6 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    margin: 25px 0px;

    em {
      font-style: italic;
    }

    strong {
      font-weight: bolder;
    }

    img {
      display: block;
      width: 100%;
      border: 1px solid black;
      margin: auto;
    }

    img + em {
      display: block;
      margin-top: 10px;
      text-align: center;
    }
  }

  .codeBlock {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.8rem;
    line-height: 1.15rem;
    overflow: auto;
    word-wrap: normal;
  }

  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.8rem;
    background-color: rgba(213, 0, 233, 0.158);
    margin: 0px 3px;
    border-radius: 3px;
    padding: 2px 3px;
  }
}

@media only screen and (max-width: 1200px) {
  .article {
    width: 60%;
    padding: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .article {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .article {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .article {
    width: 96%;
  }
}
