.login {
  padding: 30px 0px;

  .text_input {
    label {
      display: block;
      font-size: 1.5em;
      font-weight: 600px;
      margin-right: 20px;
      margin-bottom: 7px;
    }

    input {
      font-size: 1.2em;
      border: none;
      width: 50%;
      margin-bottom: 20px;
      border: 1px solid black;
      transition: all 200ms ease-in;
      padding: 2px;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(12, 161, 247, 0.591);
    }
  }
}
