.mdx_preview {
  &_error {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 10px;
    border: 2px solid red;
    background-color: rgba($color: #ff0000, $alpha: 0.2);
  }
}
