#imagesInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#imagesInput, label {
    transition: all ease-in-out 150ms;
}

#imagesInput + label {
    font-size: 1.2em;
    font-weight: 400;
    padding: 6px 8px;
    margin-right: 10px;
    border: 2px solid blue;
    display: inline-block;
    cursor: pointer;
}

#imagesInput:focus + label, 
#imagesInput + label:hover {
    border: 2px solid rgb(50, 255, 170);
}

.uploadButton {
    display: inline-block;
    width: auto;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px 0px;
    border-radius: 0px;
    border: 2px solid black;
    transition: all ease-in-out 150ms;
}

.uploadButton:hover, .uploadButton:focus {
    background-color: rgb(232, 0, 0);
    color: white;
    border: 2px solid rgb(232, 0, 0);
}

.uploadButton:active {
    background-color: rgb(191, 0, 0);
}

.imageForm {
    margin-top: 20px;
    margin-bottom: 20px;
}

.progressIndicator {
    border: 1px solid black;
}

.progressIndicator > div {
    background: linear-gradient(25deg, rgb(0, 174, 255), rgb(50, 255, 170), rgb(0,174,275));
    background-size: 800% 200%;
    animation: underanimate 69s infinite;
    width: 0%;
    text-align: center;
    transition: all ease-out 150ms;
}

.progressIndicator, .progressIndicator > div {
    height: 20px;
}

.locations, .files {
    margin: 20px 45px;
    padding: 10px;
}

.locations > ul, .files > ul {
    list-style-type: square;
    padding: 0px 45px;
}

.locations > p, .files > p {
    text-decoration: underline;
    margin-bottom: 10px;
}

.files {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.1);
}

.locations {
    border: 2px solid rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, 0.1);
}