.button {
  font-size: 1em;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  width: auto;
}

.green {
  background-color: rgb(15, 175, 0);
  border: 2px solid rgb(12, 129, 1);
  color: white;

  &:hover {
    background-color: rgb(12, 129, 1);
  }
}

.red {
  background-color: rgb(253, 68, 36);
  border: 2px solid rgb(212, 44, 14);
  color: white;

  &:hover {
    background-color: rgb(212, 44, 14);
  }
}

.magenta {
  background-color: rgb(255, 0, 200);
  border: 2px solid rgb(197, 0, 154);
  color: white;

  &:hover {
    background-color: rgb(197, 0, 154);
  }
}

.confirm {
  padding: 5px;
  display: flex;
  align-items: center;

  p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
