section.CurveTool {
  margin-top: 20px;
}
section.CurveTool > h3,
section.CurveTool > p {
  margin: 20px 0px;
}

svg.HeaderVector {
  width: 100%;
  height: 200px;
}

svg.FullHeight {
  width: 100%;
  height: 100vh;
}
