/* section.curveTool {
  margin: 20px 50px;
}

section.curveTool > p {
  margin: 20px 0px;
} */

section.curveTool {
  margin-top: 20px;
}
section.curveTool > h3,
section.curveTool > p {
  margin: 20px 0px;
}

svg.headerVector {
  width: 100%;
  height: 200px;
}

svg.fullHeight {
  width: 100%;
  height: 100vh;
}
