.photos {
  .photo {
    width: 40%;
    margin: 10px auto;
    position: relative;

    img {
      //width: 100%;
      border: 1px solid black;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .photos {
    text-align: center;

    .photo {
      width: 60%;

      img {
        //width: 99%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .photos {
    text-align: center;

    .photo {
      width: 75%;

      img {
        //width: 99%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .photos {
    margin: 0;
    background-color: black;

    .photo:first-child {
      margin-top: 0px;
    }

    .photo {
      margin: 10px auto;
      width: 100%;

      img {
        border: none;
        //width: 100%;
      }
    }
  }
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}
