/* Layout styles */

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    display: flex;
    padding: 8px 16px;
    background-color: white;
    border-bottom: 1px solid black;

    h1 {
      margin-right: 24px;
      font-size: 2em;
    }

    nav {
      ul {
        li:first-child {
          margin: 10px 10px 10px 0px;
        }
        li {
          position: relative;
          cursor: pointer;
          color: rgb(0, 0, 255);
          font-size: 1.15rem;
          display: inline-block;
          margin: 10px 10px 0px 10px;

          a {
            text-decoration: none;
          }

          a:visited {
            color: rgb(0, 0, 255);
          }
        }

        li:hover:after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          background: linear-gradient(270deg, #1100ff, #f700ff, #1100ff);
          background-size: 200% 200%;
          animation: underanimate 5s infinite;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    header {
      padding: 10px 20px;
    }

    nav > ul > li {
      font-size: 1.3em;
    }

    nav > ul > li:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 1px;
      background: linear-gradient(270deg, #1100ff, #f700ff, #1100ff);
      background-size: 200% 200%;
      animation: underanimate 10s infinite;
    }
  }

  main {
    flex: 1;

    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    main {
      margin: 0 0px;
    }
  }

  @keyframes underanimate {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  footer {
    height: auto;
    padding: 8px 16px;
    background: linear-gradient(45deg, rgb(0, 0, 255), rgb(255, 50, 231));
    background-size: 400% 200%;
    animation: underanimate 30s infinite;
    border-top: 1px solid black;
  }

  footer p {
    display: inline-block;
    padding: 2px 4px;
    background-color: white;
    border: 1px solid black;
  }

  @media only screen and (max-width: 600px) {
    footer {
      padding: 15px 20px;
    }
  }
}
