.lesson {
  display: flex;
  flex: 1;
  overflow: auto;

  &_content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &_title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .ide {
    flex: 1.75;
  }
}
