.about {
    padding: 10px 20px;
    width: 60%;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.about > p {
    margin: 10px 0px;
    line-height: 1.2rem;
}

@media only screen and (max-width: 1200px){
    .display > article {
        width: 60%;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 1000px){
    .display > article {
        width: 75%;
        margin: 0px auto;
    }

    .display > article {
        padding: 10px;
    }
}

@media only screen and (max-width: 800px){
    .about {
        width: 85%;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 500px){
    .about {
        padding: 5px 0px;
        width: 100%;
        border: none;
    }
    .about > p {
        padding: 0px 20px;
        text-align: justify;
        text-justify: inter-word;
    }
}