.CodeMirror {
    height: 100%;
    width: 100%;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    border: 1px solid black;
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 400;
}